.profile__info {
  display: grid;
  max-width: 388px;
  width: 100%;
  grid-template-areas:
    "profile__name profile__edit-button"
    "profile__text profile__text";
  gap: 7px 18px;
}

@media screen and (max-width: 960px) {
  .profile__info {
    max-width: 242px;
  }
}

@media screen and (max-width: 600px) {
  .profile__info {
    gap: 7px 10px;
  }
}