.card__delete-button {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent url(../../../images/delete.svg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  margin: 0;
  max-width: 18px;
  width: 100%;
  height: 19px;
  cursor: pointer;
  transition: .3s;
}

.card__delete-button:hover {
  transition: .3s;
  opacity: 0.8;
}