.card__like {
  padding: 3px 0 11px 27px;
  margin: 0;
  background: transparent url(../../../images/like.svg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  max-width: 22px;
  width: 100%;
  height: 19px;
  cursor: pointer;
}