.infoTooltip__container {
  width: 430px;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  align-items: center;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 540px) {
  .infoTooltip__container {
    width: 100%;
    margin: 0 20px;
  }
}